#geral{
  display:flex;
  width: 100vw;
  height: 100vh;
  justify-content:center;
  align-items: center;
}
#parte1, #parte2{
  border: solid gray 3px;
  width: 200px;
  min-height: 400px;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
button{
  width: 150px;
  height: 40px;
  margin: 10px;
}
.opcoes{
  width: 150px;
  height: 40px;
  margin: 20px;
  border: solid gray 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: solid gray 3px;
  background-color: rgb(200,200,200);
}
.opcoes:hover{
  cursor: pointer;
}
#texto{
  width: 140px;
  height: 40px;
  margin: 10px;
}
.selecao_vermelha{
  border: solid rgb(220,100,100) 3px;
  background-color: rgb(230,200,200);
}
